 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <% include partials/header.ejs %>

    <p>Some text here</p>


    <p><a href="/add-element/artwork"> Add Art Work </a></p>
    <p><a href="/add-element/artist"> Add Artist </a></p>
    <p><a href="/add-element/customer"> Add Customer </a></p>

    <% include partials/footer.ejs %>
  </body>
</html>
