<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <% include partials/header.ejs %>

    <p>Artist form</p>









    <% include partials/footer.ejs %>
  </body>
</html>
